<!DOCTYPE html>
<html>
<head>
	<title>Arkh Food And Spice</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/javaScript/script.js"></script>
</head>
<body>
	
	
		
	<nav class="navbar navbar-inverse navbar-fixed-top ">
		<div class="container">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     </button>
				<a href="#bgimg" class="navbar-brand"><i class="glyphicon glyphicon-home"></i>Arkh Food and Spice</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#bgimg">Home</a></li>
					<li><a href="#contact-id">Contact Us</a></li>
				</ul>
			</div>
				
			
			
		</div>
		
	</nav>
		
	
	
	
	 
	
	
	

